.sidenav {
    width: 250px;

}



.sidenav .user-view {
    background: #37474f;
}



.sidenav .divider {
    background-color: #455a64;
}

.sidenav a.collection-item.btn-large {
    width: 100%;
    margin: 0;

    box-sizing: border-box;


}