/* Schriften */

body,
p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-alt {
    font-family: 'Oleo Script Swash Caps', cursive;
}




/* Section */
section {
    padding: 80px 0;
}