// 
// Styles
// 

// Import variables
@import "./_variables/_colors.scss";
@import "./_variables/_typography.scss";
@import "./_variables/_spacing.scss";


// 2️⃣ Import Bootstrap functions first
@import "../../node_modules/bootstrap/scss/functions";

// 3️⃣ Import only the Bootstrap parts you need
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";




@import "../../node_modules/bootstrap/scss/bootstrap";
// Global CSS
@import "./_global.scss";

// Components
@import "./_components/_sidenav.scss";
@import "./_components/_icons.scss";

// Sections
@import "./_sections/_resume-section.scss";