// 
// Styles
// 

// Import variables
@import "./_variables.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Global CSS
@import "./_global.scss";

// Components
@import "./_components/_sidenav.scss";
@import "./_components/_icons.scss";
// Sections
@import "./_sections/_resume-section.scss";