name: Build and Deploy Website to GitHub Pages

on:
  push:
    branches:
      - main  # Adjust this to your branch

permissions:
  contents: write  # Allow pushing to gh-pages branch
  pages: write    # Allow deploying to GitHub Pages
  id-token: write  # Allow OIDC token for GitHub Pages

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24.0.0'   # Use Node 24
          cache: 'npm'

      - name: Install dependencies
        run: npm ci 
      
      - name: Build project
        run: npm run build

      - name: CDEBUG - List Files in dist directory
        run: ls -la ./dist

      # On GitHub Pages, the default publishing directory is root.(WE CAN SEE IT IN SETTINGS > PAGES)
      - name: Upload artifact for GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist 

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
         deploy_key: ${{secrets.ACTIONS_DEPLOY_KEY}}
         publish_dir: ./dist # Adjust this if your build output is in a different directory
      - name: CDEBUG - List Files in dist directory
        run: ls -la ./dist

  upload-job:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Just to play with variables (Step 0)
        run: echo "The build job ran on ${{secrets.GITHUB_TOKEN}}"
      - name: Another step to play with secrets (Step 1)
        run: echo "GITHUB_TOKEN  ${{secrets.GITHUB_TOKEN}}"           
      - name: List Files in  (Step 2)
        run: ls -la ./dist
  
  dansy-job:
     needs: build
     runs-on: ubuntu-latest
     steps:
      - name: Just to play with variables (Step 0)
        run: echo "The build job ran on ${{secrets.GITHUB_TOKEN}}"
      - name: Another step to play with secrets (Step 1)
        run: echo "GITHUB_TOKEN  ${{secrets.GITHUB_TOKEN}}"           
      - name: List Files in  (Step 2)
        run: ls -la ./

  deploy-test:
    needs: build
    environment:
      name: github-pages
    runs-on: ubuntu-latest
    steps:
      - name: Just to play with variables (Step 0)
        run: echo "The build job ran on ${{secrets}}"

 
  ghislain-job:
    needs: deploy-test
    runs-on: ubuntu-latest
    steps:
      - name: Just to play with variables (Step 0)
        run: echo "The build job ran on ${{secrets}}"
      - name: List ALL (Step 1)
        run: tree ./
      - name: Display Tree of current directory (Step 2)
        run:  pwd  
      - name: List Directories (Step 3)
        run: tree /home/runner/work/ 
      - name: List Files in  (Step 4)
        run: cd /home/runner/work/ghislain1.github.io/ghislain1.github.io && ls -laR
      - name: CURRENT DIRECTORY (Step 5)
        run: pwd
      - name: FInd dist directory (Step 6)
        run:  find . -type d -name "dist"
 