name: Build and Deploy Angular App

on:
  push:
    branches:
      - main  # Adjust this to your branch

permissions:
  contents: write  # Allow pushing to gh-pages branch
  pages: write    # Allow deploying to GitHub Pages
  id-token: write  # Allow OIDC token for GitHub Pages

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24.0.0'   # Use Node 24
          cache: 'npm'

      - name: Install dependencies
        run: npm ci 
      
      - name: Build project
        run: npm run build

      - name: Upload artifact for GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist # 

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

      - name: Deployment END
        run: echo "Deployment completed."

 